body {
  margin: 0;
  font-family: Karla;
}
.header {
  display: flex;
  align-items: center;
  background-color: #672280;
  padding: 20px;
  padding-bottom: 50px;
  height: 30px;
}
.header > h1 {
  margin-right: auto;
}
.header-right {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}
.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.saveImg {
  font-family: Karla;
  border-radius: 4px;
  background-color: black;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
}

.saveImg:hover {
  color: black;
  background-color: #672280;
  cursor: pointer;
}

.btn {
  grid-column: 1/-1;
  font-family: Karla;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
}
.btn:hover {
  color: black;
  background-color: #672280;
  cursor: pointer;
}
.form > input {
  text-indent: 7px;
  font-family: Karla;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
}
.meme-image {
  max-width: 100%;
  max-height: 500px;
  padding: 20px;
  border-radius: 3px;
  z-index: 998;
}
.meme--text {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80%;
  text-align: center;
  left: 45%;
  transform: translateX(-50%);
  margin: 40px;
  padding: 10px 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  z-index: 999;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.upload > .toggle-btn {
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: Karla;
  border-radius: 4px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
}

.upload > .toggle-btn:hover {
  color: black;
  background-color: #672280;
  cursor: pointer;
}
.upload-btn {
  padding: 2px;
  margin: 10px;
}
.upload-btn::-webkit-file-upload-button {
  background-color: black;
  color: white;
  padding: 2px;
  font-family: Karla;
  border: none;
  border-radius: 2px;
  height: 20px;
  width: 100px;
}
.upload-btn::-webkit-file-upload-button:hover {
  background-color: #672280;
  cursor: pointer;
}
